.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerToDoList {
  display: flex;
  margin-top: 2rem;
  width: 46rem;
  height: 1.18rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46rem;
  border-radius: 8px;
  padding-top: 4rem;
  border-top: solid 2px #333333;
  color: #808080;
}

.toDoList strong {
  font-size: 1rem;
  margin-top: 1rem;
}

.toDoList span {
  line-height: 1, 6;
  margin-top: 0.2rem;
}