* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A1A1A;
  color: rgb(255, 255, 255);
  -webkit-font-snoothing: antialiased;

}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px #00B37E;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}